# Node.js dependencies
node_modules/
dist/
dist-ssr/
*.local

# Database file (very important to keep the cache local and not commit it)
transferegov.db
transferegov.db-journal

# IDEs/System files
.vscode/
.idea/
.DS_Store
Thumbs.db
